html
{
	height: 100%;
	margin: 0 auto;
	padding: 0 0;
	overflow: hidden;
	width: 100%;
}
body
{
	background: #696969 !important;
	height: 100%;
	width: 100%;
}
div.playerdataarea
{
	background: rgba(76, 175, 80, 0.1) !important;
	border: 3px solid #000;
	border-color: transparent;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	top: 0;
	color: #FFFFFF;
	font-size: 1.5vw;
	margin: 0 auto;
	height: 10%;
	overflow: hidden;
	padding: 0 0;
	position: absolute;
	z-index: 5;
}
